@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Lexend";
  src: url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.eot");
  src: url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/42dbf00de1681d38477679d3eadad56a.svg#Lexend")format("svg");
}

@font-face {
  font-family: "Lexend Medium";
  src: url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.eot");
  src: url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4e9a39f60cd3fbae96889bc7f03013f4.svg#Lexend Medium")format("svg");
}

.Lexend{
font-family: "Lexend";
}
.Lexend-Medium{
font-family: "Lexend Medium";
}

@media (max-width: 899px) {
.container{
  width: 90% !important;
}
}

@media (min-width: 900px) and (max-width: 1534px){
  .container {
      max-width: 90% !important;
  }
}